<div [ngClass]="'light-custom-theme'">
  <div style="height: 80vh" [ngClass]="{'right-position': lang === 'fa'}">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
        <span>{{'Menu.Title' | translate}}</span>
        <span class="menu-spacer"></span>
        <div fxShow="true" fxHide.lt-md>

          <a href="#" mat-button>{{'Menu.Item1' | translate}}</a>
          <a href="#" mat-button>{{'Menu.Item2' | translate}}</a>
          <a href="#" mat-button>{{'Menu.Item3' | translate}}</a>

          <label>
            {{'Menu.Language' | translate}}
            <select #langSelect (change)="translate.use(langSelect.value)" (click)="onLangChange(langSelect.value)">
              <option *ngFor="let lang of translate.getLangs()" [value]="lang"
                [selected]="lang === translate.currentLang">{{ lang }}</option>
            </select>
          </label>

        </div>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container fxFlexFill>
      <mat-sidenav #sidenav [position]="position">
        <mat-nav-list>
          <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
          <a href="#" mat-button>{{'Menu.Item1' | translate}}</a>
          <a href="#" mat-button>{{'Menu.Item2' | translate}}</a>
          <a href="#" mat-button>{{'Menu.Item3' | translate}}</a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-container fxFlexFill>{{'Content.Main' | translate}}
        <div>
          <button mat-raised-button color="accent">salammmm</button>
        </div>
      </mat-sidenav-container>
    </mat-sidenav-container>
  </div>
</div>